a(href="/drivers")
  i.icon-reply  Back to drivers

h2(ng-show="newDriver", translate="") Add driver
h2(ng-hide="newDriver") Edit "{{driver.firstname}} {{driver.lastname}}"

form
  label ID
  input(type='text', ng-model='driver.id')
  label Class
  input(type='text', ng-model='driver.class')
  label First name
  input(type='text', ng-model='driver.firstname')
  label Last name
  input(type='text', ng-model='driver.lastname')
  label Zip Code
  input(type='text', ng-model='driver.zip')
  label City
  input(type='text', ng-model='driver.city')
  label Club
  input(type='text', ng-model='driver.club')
  label(ng-show="driver.oldLicence") old Licence
  {{driver.oldLicence}}

  hr
  div.actions
    input.btn.btn-large.btn-primary(type="submit", value="Save driver", ng-click="saveDriver()")

