h2 Driver database

div
  div.input-prepend.span4
    span.add-on Filter:
    input(type="text", ng-model='searchText')
  div.input-prepend.span4
    span.add-on Sort:
    select(ng-model='sortBY')
      option(value='')
      option(value='lastname', translate="") Last name
      option(value='firstname', translate="") First name
      option(value='class', translate="") Class
      option(value='club', translate="") Club
  div.span2
    a.btn.btn-primary(href="/drivers/add")
      i.icon-plus
      | &nbsp;{{ 'Add driver' | translate }}

table(class='table-hover table')
  tr
    th(translate="") ID
    th(translate="") Class
    th(translate="") Name
    th(translate="") Club
    th(translate="") City
    th(translate="") Birthday
    th(translate="") Actions
  tr(ng-hide="drivers.length")
    td(colspan="7")
      i.icon-spinner.icon-spin.icon-large
      span  Loading ...
  tr(ng-repeat='driver in drivers | filter:searchText | orderBy:sortBY')
    td {{driver.id}}
    td {{driver.class}}
    td {{driver.firstname}} {{driver.lastname}}
    td {{driver.club}}
    td {{driver.zip}} {{driver.city}}
    td {{driver.birthday}}
    td
      a(href='drivers/{{driver.__id}}/edit', title='Edit "{{driver.firstname}} {{driver.lastname}}"')
        i(class='icon-edit')  edit
