h2 drivers

div
  | Filter:
  input(ng-model='searchText')
  | Sort:
  select(ng-model='sortBY')
    option(value="")
    option(value="lastname") Last name
    option(value="firstname") First name
    option(value="class") Class
    option(value="club") Club

table
  tr
    th ID
    th Class
    th(colspan=2) Name
    th Club
    th City
    th Birthday
    th Actions
  tr(ng-repeat="driver in drivers | filter:searchText | orderBy:sortBY")
    td {{driver.id}}
    td {{driver.class}}
    td {{driver.firstname}}
    td {{driver.lastname}}
    td {{driver.club}}
    td {{driver.zip}} {{driver.city}}
    td {{driver.birthday}}
    td
      a(href="driver/{{driver.__id}}/edit")
        i Edit

div(class="legend")


