h2 Persons

div
  | Filter:
  input(ng-model='searchText')
  | Sort:
  select(ng-model='sortBY')
    option(value="")
    option(value="lastname") Last name
    option(value="firstname") First name
    option(value="class") Class
    option(value="club") Club

table
  tr
    th ID
    th Class
    th(colspan=2) Name
    th Club
    th City
    th Birthday
    th Actions
  tr(ng-repeat="person in persons | filter:searchText | orderBy:sortBY")
    td {{person.id}}
    td {{person.class}}
    td {{person.firstname}}
    td {{person.lastname}}
    td {{person.club}}
    td {{person.zip}} {{person.city}}
    td {{person.birthday}}
    td
      a(href="driver/{{person.__id}}/edit")
        i Edit

div(class="legend")


