a(href="/results")
  i.icon-reply  Back to results

h2(ng-show="newResult", translate="") Add result
h2(ng-hide="newResult") Edit result item {{result.id}}

form
  h3 Meta
  label ID
  input(type='text', ng-model='result.id')
  label Class
  input(type='text', ng-model='result.class')
  label StartNo.
  input(type='number', ng-model='result.startNo')
  label Driver
    | &nbsp;
    small {{ result.driverName }}
  input(type='text', ng-model='result.driver')
  label Team
  input(type='text', ng-model='result.team')
  label Status
  select(ng-model='result.status')
    option(value="iW") in Wertung
    option(value="DQ") disqualified
    option(value="DNF") did not finish
    option(value="DNS") did not start

  // Iterate over trainings.
  h3 Training runs
  div.clearfix(ng-repeat='t in result.training')
    label T{{ $index + 1 }}
    div.input-prepend.span2
      span.add-on Time
      input.input-small(type='text', ng-model='t.time')
    div.input-prepend.span2
      span.add-on Pen 1
      input.input-mini(type='number', ng-model='t.penalties[0]')
    div.input-prepend.span2
      span.add-on Pen 2
      input.input-mini(type='number', ng-model='t.penalties[1]')

  h3 Score runs
  div.clearfix(ng-repeat='r in result.race')
    label R{{ $index + 1 }}
    div.input-prepend.span2
      span.add-on Time
      input.input-small(type='text', ng-model='r.time')
    div.input-prepend.span2
      span.add-on Pen 1
      input.input-mini(type='number', ng-model='r.penalties[0]')
    div.input-prepend.span2
      span.add-on Pen 2
      input.input-mini(type='number', ng-model='r.penalties[1]')

  h3 Comment
  textarea(ng-model='result.comment')

  hr
  div.actions
    input.btn.btn-large.btn-primary(type="submit", value="Save result", ng-click="saveResult()")
    | &nbsp;Revision {{result.v}}
