h2(translate="") Results

div
  div.span2
    a.btn.btn-primary(href="/results/add")
      i.icon-plus
      | &nbsp;{{ 'Add result' | translate }}

table(class='table-hover table')
  tr
    th(translate="") ID
    th(translate="") Class
    th(translate="") Name
    th(translate="") Team
    th(translate="") Actions
  tr(ng-hide="results.length")
    td(colspan="7")
      i.icon-spinner.icon-spin.icon-large
      span  No results.
  tr(ng-repeat='result in results')
    td {{result.id}}
    td {{result.class}}
    td {{result.driver}}
    td {{result.team}}
    td
      a(href='results/{{result.id}}/edit', title='Edit result {{result.id}}"')
        i(class='icon-edit')  edit
