h2(translate="") Settings


form.form-horizontal
  fieldset
    legend(translate="") General
    div.control-group
      label.control-label(for="inputTitle", translate="") Title
      div.controls
        input.input-xlarge(type="text", id="inputTitle", ng-model='config.title')
    div.control-group
      label.control-label(for="inputSubtitle", translate="") Subtitle
      div.controls
        input.input-xlarge(type="text", ng-model='config.subtitle')
  fieldset
    legend(translate="") Results
    div.control-group
      label.control-label(translate="") Training runs count
      div.controls
        input.input-mini(type="number", ng-model='config.resultsTrainingRunsCount')
    div.control-group
      label.control-label(translate="") Official runs count
      div.controls
        input.input-mini(type="number", ng-model='config.resultsOfficialRunsCount')
    fieldset.offset1
      legend(translate="") Penalties
      div.control-group
        label.control-label(translate="") Penalty count
        div.controls
          input.input-mini(type="number", ng-model='config.resultsPenaltyCount')
      div.control-group(ng-repeat="data in config.resultsPenaltyData")
        label.control-label Penalty {{ $index + 1 }}
        div.input-prepend.span2
          span.add-on Multiplier
          input.input-mini(type='number', ng-model='data.multiplier')
        div.input-prepend.span2
          span.add-on Name
          input.input-small(type='text', ng-model='data.name')

  fieldset
    legend(translate="") Drivers CSV
    div.control-group
      label.control-label(translate="") File path
      div.controls
        input.input-xlarge(type="text", ng-model='config.driversCSV')
    div.control-group
      label.control-label(translate="") Header rows
      div.controls
        input.input-mini(type="number", ng-model='config.driversCSVHeaderCount')

  hr
  div.actions
    input.btn.btn-large.btn-primary(type="submit", value="{{ 'Save settings' | translate }}", ng-click="saveConfig()")

