
html {
  // Ensure the app shows a scrollbar when needed.
  overflow: auto;
}

header {
}

#view {
  margin: 0 1em;
}

.top-bar {
  .title-area {
    margin-right: 2em;
  }
  h1 {
    color: white;
    font-weight: bold;
    font-size: 2em;
  }
  //
  .inactive {
    opacity: 0.5;
  }
}

