data/*.*
data/import/*
data/current/*
!data/current/README.md
!data/import/README.md

# Ignore other files.
.svn
*.komodoproject
*.komodotools
.DS_Store
Thumbs.db
.project
.buildpath
.settings
*.esproj
nbproject
.idea
.sass-cache
