<a href="/drivers"><i class="icon-reply"> Back to drivers</i></a>
<h2 ng-show="newDriver" translate="">Add driver</h2>
<h2 ng-hide="newDriver">Edit "{{driver.firstname}} {{driver.lastname}}"</h2>
<form>
  <label>ID</label>
  <input type="text" ng-model="driver.id"/>
  <label>Class</label>
  <input type="text" ng-model="driver.class"/>
  <label>First name</label>
  <input type="text" ng-model="driver.firstname"/>
  <label>Last name</label>
  <input type="text" ng-model="driver.lastname"/>
  <label>Zip Code</label>
  <input type="text" ng-model="driver.zip"/>
  <label>City</label>
  <input type="text" ng-model="driver.city"/>
  <label>Club</label>
  <input type="text" ng-model="driver.club"/>
  <label ng-show="driver.oldLicence">old Licence</label>{{driver.oldLicence}}
  <hr/>
  <div class="actions">
    <input type="submit" value="Save driver" ng-click="saveDriver()" class="btn btn-large btn-primary"/>&nbsp;Revision {{driver.v}}
  </div>
</form>