html {
  overflow: auto;
}

#view {
  margin: 0 1em;
}

.top-bar .title-area {
  margin-right: 2em;
}
.top-bar h1 {
  color: white;
  font-weight: bold;
  font-size: 2em;
}
.top-bar .inactive {
  opacity: 0.5;
}
