extends layout

block body
  header.container
    h1 openKartSlalom
    nav.navbar
      div.navbar-inner
        ul.nav
          li
            a(href='home') Home
          li
            a(href='drivers') Drivers
          li
            a(href='settings') Settings

  div(ng-view
    class="container")

  footer.footer
    div.container
      p openKartSlalom app: v
        span(app-version)

  script(src='js/lib/angular/angular.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
