extends layout

block body
  header.container
    nav.masthead
      ul.nav.nav-pills.pull-right
        li(class="{{getClass('/home')}}")
          a(href='home')
            i.icon-home
            | &nbsp;{{ 'Home' | translate }}
        li(class="{{getClass('/drivers')}}")
          a(href='drivers')
            i.icon-user(translate)
            | &nbsp;{{ 'Drivers' | translate }}
        li(class="{{getClass('/settings')}}")
          a(href='settings')
            i.icon-cog(translate)
            | &nbsp;{{ 'Settings' | translate }}
    h1.title
      | openKartSlalom&nbsp;
      i.icon-flag-checkered.icon-3x

  div.container(ng-view)

  footer.footer
    div.container
      p openKartSlalom app: v
        span(app-version)
      p.muted
        | Created by&nbsp;
        a(href="http://derhasi.de")
          i.icon-user  derhasi
        | , source code on&nbsp;
        a(href="https://github.com/derhasi/openkartslalom")
          i.icon-github  Github
      p
        | powered by&nbsp;
        span.badge nodejs
        | &nbsp;
        span.badge angularjs
        | &nbsp;
        span.badge express
        | &nbsp;
        span.badge bootstrap
        | &nbsp;
        i.icon-html5
        | &nbsp;
        i.icon-css3


  script(src='components/angular/angular.js')
  script(src='components/angular-resource/angular-resource.js')
  script(src='components/angular-translate/angular-translate.js')
  script(src='components/angular-translate-loader-static-files/angular-translate-loader-static-files.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
