<!DOCTYPE html>
<html ng-app="openKS" ng-csp="" ng-controller="AppCtrl">
  <head>
    <meta charset="utf8">
    <title>openKartSlalom</title>
    <link rel="stylesheet" href="css/fo.css">
    <link rel="stylesheet" href="components/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="css/app.css">
  </head>
  <body>
    <header class="row">
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name">
            <h1>openKartSlalom&nbsp;<i class="fa fa-flag-checkered fa fa-2x"></i></h1>
          </li>
        </ul>
        <section class="top-bar-section">
          <ul class="left">
            <li class="{{getClass('home')}}"><a ng-click="setView('home')"><i class="fa fa-home"></i> <span class="hide">Home</span></a></li>
            <li class="{{getClass('results')}}"><a ng-click="setView('results')"><i class="fa fa-trophy"></i> Results</a></li>
            <li class="{{getClass('drivers')}}"><a ng-click="setView('drivers')"><i class="fa fa-users"></i> Drivers</a></li>
            <li class="{{getClass('timing')}}"><a ng-click="setView('timing')"><i class="fa fa-clock-o"></i> Timing</a></li>
          </ul>
          <!-- Right Nav Section -->
          <ul class="right">
            <li>
              <a ng-if="nav.hasHistory()" ng-click="nav.goBack()" title="Go back"><i class="fa fa-undo"></i></a>
              <a ng-if="!nav.hasHistory()" class="inactive"><i class="fa fa-undo"></i></a>
            </li>
            <li>
              <a ng-if="nav.hasFuture()" ng-click="nav.goForward()" title="Go forward"><i class="fa fa-repeat"></i></a>
              <a ng-if="!nav.hasFuture()" class="inactive"><i class="fa fa-repeat"></i></a>
            </li>
            <li class="divider"></li>
            <li class="{{getClass('settings')}}"><a ng-click="setView('settings')"><i class="fa fa-cog"></i> <span class="hide">Settings</span></a></li>
            <li class="{{getClass('info')}}"><a ng-click="setView('info')"><i class="fa fa-info-circle"></i> <span class="hide">Info</span></a></li>
          </ul>
        </section>
      </nav>
      <ul class="breadcrumbs">
        <li ng-repeat="crumb in breadcrumbs()">
          <a ng-click="setView(crumb.key)" class="crumb-{{crumb.key}}"><i class="{{crumb.iconClass}}"></i> {{crumb.title}}</a>
        </li>
        <li class="current"><a ng-click="setView(nav.currentView.key)"><i class="{{nav.currentView.iconClass}}"></i> {{nav.currentView.title}}</a></li>
      </ul>
    </header>

    <div id="loading" ng-if="!dbReady">
      Database still initialising!!
    </div>
    <div id="view" ng-if="dbReady" ng-include="nav.currentView.url"></div>

    <script src="components/angular/angular.js"></script>
    <script src="components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="components/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="components/idbwrapper/idbstore.js"></script>
    <script src="components/bytebuffer/ByteBuffer.js"></script>
    <script src="components/long/Long.js"></script>
    <script src="js/common/obj.js"></script>
    <script src="js/app.js"></script>
    <script src="js/app/AppCtrl.js"></script>
    <script src="js/db/BaseFactory.js"></script>
    <script src="js/driver/DriverFormCtrl.js"></script>
    <script src="js/driver/DriversCtrl.js"></script>
    <script src="js/driver/DriverFactory.js"></script>
    <script src="js/home/HomeCtrl.js"></script>
    <script src="js/nav/NavUtil.js"></script>
    <script src="js/nav/NavService.js"></script>
    <script src="js/result/ResultFormCtrl.js"></script>
    <script src="js/result/ResultsCtrl.js"></script>
    <script src="js/result/ResultFactory.js"></script>
    <script src="js/settings/SettingsCtrl.js"></script>
    <script src="js/timing/SerialUtil.js"></script>
    <script src="js/timing/TimingUtil.js"></script>
    <script src="js/timing/TimingCtrl.js"></script>
  </body>
</html>
