<div ng-controller="DriversCtrl">
  <h2>Driver database</h2>
  <div class="row">
    <div class="small-4 columns">
      <a ng-click="setView('driverAdd', 'new')" class="button radius"><i class="fa fa-plus"></i> Add driver</a>
    </div>
    <div class="small-4 columns">
      <a ng-click="loadDrivers()" class="button radius secondary"><i class="fa fa-refresh"></i> Reload list</a>
    </div>
  </div>
  <table class="table-hover table">
    <tr>
      <th translate="">ID</th>
      <th translate="">Class</th>
      <th translate="">Name</th>
      <th translate="">Club</th>
      <th translate="">City</th>
      <th translate="">Birthday</th>
      <th translate="">Actions</th>
    </tr>
    <tr ng-if="loading">
      <td colspan="7"><i class="fa fa-spinner fa-spin fa-large"></i><span> Loading ...</span></td>
    </tr>
    <tr ng-if="!loading && !drivers.length">
      <td colspan="7"><span> No drivers in the database. <a ng-click="setView('driverAdd', 'new')">Add some here</a>.</span></td>
    </tr>
    <tr ng-repeat="driver in drivers">
      <td>{{driver.id}}</td>
      <td>{{driver.class}}</td>
      <td>{{driver.firstname}} {{driver.lastname}}</td>
      <td>{{driver.club}}</td>
      <td>{{driver.zip}} {{driver.city}}</td>
      <td>{{driver.birthday}}</td>
      <td><a ng-click="editView(driver.id)" title="Edit &quot;{{driver.firstname}} {{driver.lastname}}&quot;"><i class="fa fa-edit"> edit</i></a></td>
    </tr>
  </table>

</div>
