<div ng-controller="HomeCtrl">

  <div class="row">
    <div class="small-4 small-push-1 columns">
      <img src="../img/logo_128.png"/>
    </div>
    <div class="small-8 columns">
      <div class="panel callout radius">
        <h2>openKartSlalom - result software</h2>
        <p>This is totally open-source!! Created by derhasi for every-one.</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-6 columns">
      <h2>Classes</h2>
      More to come …
    </div>
    <div class="small-6 columns">
      <h2>Drivers</h2>
      More to come …
    </div>
  </div>

</div>

